Biblioteca CS/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50888/ServiceProject1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50888/ServiceProject1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50888/ServiceProject1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceProject1_getCarreras_InputMessage">
    <wsdl:part name="parameters" element="tns:getCarreras" />
  </wsdl:message>
  <wsdl:message name="IServiceProject1_getCarreras_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCarrerasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProject1_RegistroUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistroUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiceProject1_RegistroUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistroUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProject1_Existe_Registro_InputMessage">
    <wsdl:part name="parameters" element="tns:Existe_Registro" />
  </wsdl:message>
  <wsdl:message name="IServiceProject1_Existe_Registro_OutputMessage">
    <wsdl:part name="parameters" element="tns:Existe_RegistroResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProject1_IniciarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesion" />
  </wsdl:message>
  <wsdl:message name="IServiceProject1_IniciarSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceProject1_Existe_Usuario_InputMessage">
    <wsdl:part name="parameters" element="tns:Existe_Usuario" />
  </wsdl:message>
  <wsdl:message name="IServiceProject1_Existe_Usuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:Existe_UsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceProject1">
    <wsdl:operation name="getCarreras">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProject1/getCarreras" message="tns:IServiceProject1_getCarreras_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProject1/getCarrerasResponse" message="tns:IServiceProject1_getCarreras_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistroUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProject1/RegistroUsuario" message="tns:IServiceProject1_RegistroUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProject1/RegistroUsuarioResponse" message="tns:IServiceProject1_RegistroUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Existe_Registro">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProject1/Existe_Registro" message="tns:IServiceProject1_Existe_Registro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProject1/Existe_RegistroResponse" message="tns:IServiceProject1_Existe_Registro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IniciarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProject1/IniciarSesion" message="tns:IServiceProject1_IniciarSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProject1/IniciarSesionResponse" message="tns:IServiceProject1_IniciarSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Existe_Usuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceProject1/Existe_Usuario" message="tns:IServiceProject1_Existe_Usuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceProject1/Existe_UsuarioResponse" message="tns:IServiceProject1_Existe_Usuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceProject1" type="tns:IServiceProject1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCarreras">
      <soap:operation soapAction="http://tempuri.org/IServiceProject1/getCarreras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistroUsuario">
      <soap:operation soapAction="http://tempuri.org/IServiceProject1/RegistroUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Existe_Registro">
      <soap:operation soapAction="http://tempuri.org/IServiceProject1/Existe_Registro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarSesion">
      <soap:operation soapAction="http://tempuri.org/IServiceProject1/IniciarSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Existe_Usuario">
      <soap:operation soapAction="http://tempuri.org/IServiceProject1/Existe_Usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IServiceProject1" binding="tns:BasicHttpBinding_IServiceProject1">
      <soap:address location="http://localhost:50888/ServiceProject1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>